# Requirements in this file are for the local development and unit tests only.
# They will not be installed in Databricks. Requirements for Databricks
# are located in .dbx/requirements.txt
# These dependencies MUST MATCH the Databricks Runtime selected in the AWS Job Spec JSONs
# Below versions were populated based on Databricks Runtime ML 7.3 LTS
mlflow==1.11.0
pyyaml==5.3.1
overrides==3.1.0
#To use databricks-connect, uninstall pyspark first
pyspark==3.0.1

#CI/CD
setuptools
wheel
oktest
mypy
pylint
pytest
pytest-cov

#Local Ops
jupyter
shyaml
